﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Guru99Control.ascx.cs" Inherits="DemoApp.Guru99Control" %>
<table>
	<tr>
	  <td>Guru99 Tutorials</td>
	</tr>
	
	<tr>
	  <td> This Tutorial is for</td>
	</tr>
</table>