﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="logout_success.aspx.cs" Inherits="day03blog.logout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Successfully Loggedout!!<br />
            <asp:Button ID="btHome" runat="server" OnClick="Button1_Click" Text="Home" />
&nbsp;&nbsp;
            <asp:Button ID="btLogin" runat="server" Text="Login" />
        </div>
    </form>
</body>
</html>
