﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Web_Site._Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
     <div id="box">
                <p class="test">

                    <a  href="webpages/rome/rome.aspx">
                        <img src="images/rome.jpg" alt="">
                    </a>
                </p>

                <p>
                    In this series we are going to cover Ancient Rome.  We will cover the Roman Republic as well as the Roman Empire. Please click on the image above to load the series on Rome.
                </p>
            </div>
</asp:Content>
