﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="contact.aspx.cs" Inherits="Web_Site.webpages.Misc.contact" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="contentText">
 
 
 
                     <br />
Feel free to contact us if you have any questions or suggestions.
        If you are knowledgeable in a particular area, and would like to contribute
         an article we would be happy to review what you have.  There is
a particular format which we adhere to, which we can provide you with.
        <br/> <br />
      <b>Email: contact@historyden.com</b> <br/> <br />
 
 
 
    </div>
 
</asp:Content>
