﻿<%@ Page Title="History" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="rome.aspx.cs" Inherits="Web_Site.webpages.rome.rome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
     <div class="contentText">
  <b>  The Roman Senate</b><br /><br />
 
The dominant political institution during the Republic was the Roman Senate.
The word senate derives from the Latin word senex, which translates to "old man".
The leader of each clan (gens) was usually a member in the Senate.  Initially the
Senate consisted of one hundred senators.  Later on that number increased to
three hundred. This was primarily a body of nobleman with its members mostly from the
patrician class.  During the period of Roman kings the Senate acted almost like a
board of governors.  
 
After the foundation of the republic the Senate's power greatly increased.  The Senate passed its
own mandates called senatus consulta.  It is important to note that these mandates were not considered
laws, however they were almost always obeyed.  These mandates were executed by the two Roman
consuls (chief magistrates). Sessions usually began early in the day and were directed by a consul.
Each Senator and magistrate had their turn to speak on the issue at hand.
Before the decree passed it could be vetoed by a tribune.  Votes were either done
by a roll call or in the case of major legislation the senators voted by taking a place
on either side of the senate chamber.  The Roman Senate had the power to declare war,
fund campaigns, and supply armies.  The focus of the Senate was on foreign policy.  
This contributed to Rome's rapid conquests during the next several centuries. This would help shape the
government for the next 500 years, right up until the formation of the empire.<br />
         
<b> The Roman Assemblies </b> <br /><br />
 <img src="../../images/rome/rome2.jpg" style="margin:0 auto; width:100%"/><br />

There were three main voting Assemblies that were controlled by the Roman People:
 
1) Comitia Centuriata or Century Assembly - Declared wars and passed peace treaties. This assembly also
elected the consuls and praetors.
 
2) Comitia Tributa or Tribal Assembly - Elected many of the junior magistrates and passed legislation
and presided over judicial cases. The Tribal assembly was run by a consul.
 
3) Concilium Plebis or People's Assembly - Similar to Tribal Assembly in which laws were passed except
no patricans were allowed. The meetings between the plebeians were held in a permanent assembly. The sessions
were called by the tribunes, who were elected to represent the people's interests. To prevent conflict
of interest, patricians were not permitted to join the assembly. The assembly passed resolutions (plebiscita), which
became law, unlike the Senate whose acts were considered non-binding.
        </div>
</asp:Content>
