﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="logout_success.aspx.cs" Inherits="Day03blog.logout_success" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Successfully Loggedout!!<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;
            <asp:Button ID="btLogin" runat="server" Text="Login" OnClick="btLogin_Click" />
        </div>
    </form>
</body>
</html>
