﻿@model recipeBasket.Models.Users

@{
    ViewData["Title"] = "Login";
}

<hr />
<div class="container w-50">
    <div class="card bg-light  ">
        <article class="card-body mx-auto ">
            <h4 class="card-title mt-3 text-center">Login to Recipe Basket</h4>
            <div class="d-flex justify-content-center">
                <div class="col-md-8 ">
                    <form method="post" asp-controller="Users" asp-action="login">
                        <div class="form-group input-group">
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group input-group">
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group ">
                        
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div> <!-- form-group// -->
                        <p class="text-center">Dont have an account? <a href="~/Users/Register">register</a> </p>
                    </form>
                </div>
            </div>
        </article>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
