﻿@model recipeBasket.Models.Users

@{
    ViewData["Title"] = "LOGOUT Successful";
}
@using Microsoft.AspNetCore.Http;
<hr />
<div class="container w-50">
    <div class="card bg-light  ">
        <article class="card-body mx-auto ">
            <h4 class="card-title mt-3 text-center">Successfully logged out</h4>
            <div class="d-flex justify-content-center">
                <div class="col-md-8 ">
                   You can <a href="~/Users/Login">Login</a> or visit our <a href="~/Home/Index">home page</a>
                </div>
            </div>
        </article>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




