﻿@model recipeBasket.Models.Users

@{
    ViewData["Title"] = "Register";
}


<hr />
<div class="container w-50">
    <div class="card bg-light  ">
        <article class="card-body mx-auto ">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <div class="d-flex justify-content-center">
                <div class="col-md-8 ">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group input-group">
                            <div class="form-group">
                                <input asp-for="Name" class="form-control " placeholder="Name" size="300" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group input-group">
                            <div class="form-group">
                                <input asp-for="Username" class="form-control" placeholder="Username" size="300" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group input-group">
                            <div class="form-group">
                                <input asp-for="Email" class="form-control " placeholder="john@smith.com" size="300" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group input-group">

                            <div class="form-group">
                                <input asp-for="Password" class="form-control" placeholder="Create password" size="300" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group input-group">
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" size="300" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                        </div> <!-- form-group// -->
                        <p class="text-center">Have an account? <a href="~/Users/login">Log In</a> </p>
                    </form>
                </div>
            </div>
        </article>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
