﻿@model recipeBasket.Models.Users

@{
    ViewData["Title"] = "Login Successful";
}
@using Microsoft.AspNetCore.Http;
<hr />
<div class="container w-50">
    <div class="card bg-light  ">
        <article class="card-body mx-auto ">
            <h4 class="card-title mt-3 text-center">Successfully loggeed in</h4>
            <div class="d-flex justify-content-center">
                <div class="col-md-8 ">
                    <h5>Welcome @Context.Session.GetString("username")</h5>
                    <br>
                    <a href="~/Home/Index">home page</a>
                </div>
            </div>
        </article>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




